<nav class="nav-desktop">
    <a href="/index.html"class="nav-sections" ><img src="../../assets/logo_vuelve90.png" alt="logo"></a>

    <a routerLink="/tv" class="nav-sections section" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
        <li>Televisión</li>
    </a>
    <a routerLink="/.." class="nav-sections section" routerLinkActive="activo">
        <li>Radio</li>
    </a>
    <a routerLink="/.." class="nav-sections section" routerLinkActive="activo">
        <li>Foro</li>
    </a>
    <a routerLink="/.." class="nav-sections section" routerLinkActive="activo">
        <li>Wiki</li>
    </a>
    <a routerLink="/.." class="nav-sections section" routerLinkActive="activo">
        <li>Perfil</li>
    </a>
    <a routerLink="/.." class="nav-sections section" routerLinkActive="activo">
        <li>Contacto</li>
    </a>
    
</nav>
