<div class="tv">
    <h1 class="center">Televión en directo</h1>
    <div class="pag">
        <p>Esta web es meramente edutativa.</p>

            <video width="350px" height="275px" controls class="video">
                <source src="../../assets/estadisticas.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML video.
            </video>

        <img src="../../assets/tv2.png" alt="tv">
        
        <div class="direct">
            
            <p><img src="" alt="logos"> -------------------------------------       15:00</p>

        </div>

    </div>
</div>

